.card {
    background-color: #FFFFD4;
    font-family: 'Recursive', sans-serif;
    width: 90%;
    font-style: normal;
    text-decoration: none;
    max-width: 700px;
    min-height: 131px;
    height: auto;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 35px 25px 35px;
    padding: 18px 0 0 15px;
    position: relative;
    word-wrap: break-word;
}

.card ion-icon {
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 10px 10px 10px;
}

.card ion-icon:hover {
    color:rgba(48, 43, 43, 0.15)
}

.card > div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 20px;
}


.userAnswer {
    min-width: 74px;
    height: 44.17px;
    width: 25%;
    padding: 2px;
    margin-right: 5%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
    word-wrap: break-word;
}

.vermelho{
    background-color: #FF3030;
}

.laranja {
    background-color: #FF922E;
}

.verde {
    background-color: #2FBE34;
    margin-right: 27px;
}

.texto {
    margin-bottom: 30%;
}

